* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
    border-radius: 30px;
    padding: 15px;
    border: none;
}

/***
background-color temporanei
***/
.bgcolor-black {
    background-color: #23272a;
}

/**********HEADER**********/

header {
    padding: 15px 200px;
    background-color: #255ee9;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    color: #ffffff;
}

div.logo,
div.login {
    width: 400px;
    padding: 5px;
}

div.login {
    text-align: end;
}

/**********MAIN**********/

section {
    padding: 100px 0px;
}

.general {
    margin: 0 auto;
}

p {
    font-size: 23px;
    line-height: 35px;
}

h2 {
    font-size: 55px;
    padding: 30px 10px 60px 0px;
}

/***
section1 container non flex
***/
.section-1 {
    background-image: url(img/jumbo.png);
    background-size: cover;
}

.container-s1 {
    text-align: center;
    width: 800px;
    padding: 130px 0px;
}

h1 {
    color: #ffffff;
    font-size: 70px;
}

.container-s1 p {
    text-align: justify;
    margin: 75px 0px;
    color: #ffffff;
}

.container-s1 button {
    font-size: 30px;
}

.container-s1 p+button {
    margin-right: 30px;
}

.container-s1 button+button {
    color: #ffffff;
    background-color: #23272a;
}

/***
section2-3-4-5 tutti flex
***/
.container-s245 {
    display: flex;
    width: 1200px;
}

.container-s3 {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
}

.box-s234big {
    flex-grow: 3;
}

.box-s234small {
    flex-grow: 2;
}

.section3-5 {
    background-color: #f6f6f6;
}

.container5 {
    flex-direction: column;
    align-items: center;
}

.container5 p {
    text-align: center;
}

.container5 div {
    background-image: url(img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 30px;
    padding: 50px 40px;
    font-weight: bold;
}

.container5 button {
    background-color: #7288da;
    color: #ffffff;
    font-size: 20px;
}

*/

/**********FOOTER**********/
footer {
    margin: 0 auto;
}

/*
.footer1 {
    padding-bottom: 40px;
}

.footer2 {
    padding: 30px 360px 0px 360px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
*/
/***
primo container nel footer
***/
.container-footer {
    width: 1200px;
    display: flex;
    margin-bottom: 40px;
    padding-top: 50px;
}

.box-fsmall {
    flex-grow: 2;
    color: #ffffff;
    /*flex-basis: 30%;*/
}

.box-fbig {
    flex-grow: 8;
    /*flex nel flex*/
    /*flex-basis: 70%;*/
    display: flex;
}

.mb-general {
    flex-basis: 25%;
}

.mb-general div {
    color: #7288da;
}

h3{
    color: #7288da;
    font-size: 25px;
    margin-bottom: 10px;
}

.lenguage {
    display: flex;
    align-items: center;
}

span{
    padding-left: 5px;
}

ul {
    list-style-type: none;
    color: #ffffff;
}

li{
    padding: 10px 0px;
}

/***
secondo container nel footer
***/
.container-footer2 {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    border-top: 1px solid #7288da;
    padding-top: 15px;
}

.logo2 {
    padding: 10px;
}

.container-footer2 button {
    background-color: #7288da;
    color: #ffffff;
}